<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Servicios Médicos y Hospitalarios Nacionales</h1>
      <p class="lead">Bienvenido!. Le invitamos a solicitar sus citas médicas mediante nuestra red, puede buscar el médico de su preferencia o el mas cercano. Igualmente puede buscar mediante el centro de salud de su preferencia.</p>

      <br>

      <form class="col-lg-12">
        <p><strong>Comienza visitando nuestro directorio médico</strong></p>
        <%= link_to "Directorio Médico", medicos_path, :class => 'btn btn-primary' %>
      </form>


    </div>

  </div> <!-- /row -->

  <div class="row">


  </div>

  <br><br><br><br><br>

</div>

