<h2>Servicios Médicos y Hospitalarios Nacionales</h2>
<p>Bienvenido!. Le invitamos a solicitar sus citas médicas mediante nuestra red, puede buscar el médico de su preferencia o el mas cercano. Igualmente puede buscar mediante el centro de salud de su preferencia. Todo apoyado mediante el  <a href="http://www.mpps.gob.ve/">Ministerio del Poder Popular para la Salud</a> de la República Bolivariana de Venezuela y el Instituto de Transporte Terrestre.</p>
<div class="to-tutorial">
  <p><strong>Comienza visitando nuestro directorio médico</strong></p>
  <%= link_to "Directorio Médico", medicos_path, :class => 'btn btn-success' %>
</div>
