<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Información Actualizada</h1>
      <p class="lead">Sus datos fueron modificados correctamente</p>

      <br>

      <%= link_to "Volver", ajustes_path(@current_usuario.remember_token), :class => 'btn btn-default' %>


    </div>

  </div> <!-- /row -->

  <div class="row">


  </div>

  <br><br><br><br><br>

</div>