<div class="container-full">

  <div class="row">

    <div class="col-lg-12 text-center v-center">

      <h1>Modificar Información de Cuenta</h1>

      <br>

      <form class="col-lg-12">

      </form>
      <div><span class="glyphicon glyphicon-screenshot"></span>   <%= link_to "Cambiar Nombre de Cuenta", edit_nombre_path(@usuario), :class => 'btn btn-default' %></div><br>
      <div><span class="glyphicon glyphicon-cog"></span>   <%= link_to "Cambiar Contraseña", '#', :class=>'btn btn-default  ' %></div><br>
      <div><span class="glyphicon glyphicon-envelope"></span>   <%= link_to "Modificar Correo", '#', :class => 'btn btn-default' %></div><br>



  </div>

</div> <!-- /row -->

<div class="row">


</div>

<br><br><br><br><br>

</div>