<h2>Bienvenido a SHiMed <%= @usuario.nombre %>!</h2>
<p>Selecciona tu tipo de usuario antes de continuar</p>

<%= link_to "Médico", registro_medico_path(@usuario), :class=>"btn btn-default btn-lg btn-block" %>
<%= link_to "Centro de Salud", registro_centro_path(@usuario), :class=>"btn btn-default btn-lg btn-block" %>